:root {
  /* Background Colors */
  --p-bg-primary: #ffffff;
  --p-bg-secondary: #2314a2;
  --p-bg-tertiary: #9e161b;
  --p-bg-quaternary: #c2c2c2;
  --p-bg-black: #3d3d3d;

  /* Text Colors */
  --p-text-primary: #000000;
  --p-text-primary_2: #ffffff;
  --p-text-primary_3: #311de6;
  --p-text-secondary: #9e161b;
  --p-text-tertiary: #ffffff;

  /*SPACING AND ROUNDED*/
  --p-spacing-xs: 8px;
  --p-spacing-s: 12px;
  --p-spacing-m: 16px;
  --p-spacing-l: 24px;
  --p-spacing-xl: 48px;

  /*FONT SIZE*/
  --p-font-size-xs: 12px;
  --p-font-size-s: 16px;
  --p-font-size-m: 18px;
  --p-font-size-l: 22px;
  --p-font-size-xl: 28px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  scroll-behavior: smooth;
  color: var(--p-text-primary);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: var(--p-font-size-l);
  text-transform: uppercase;
  font-weight: 500;
}

p,
li,
a {
  font-size: var(--p-font-size-m);
  font-weight: 300;
}

ul {
  list-style-type: disc;
  list-style: none;
}

a {
  text-decoration: none;
  padding: 0 5px;

}

button {
  font-size: var(--p-font-size-s);
  font-weight: 300;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

button:hover {
  transform: scale(1.03);
}

footer {
  position: fixed;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  opacity: 1;
  animation: fadeInUp 0.5s ease-in;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 50%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

.show {
  animation-name: show;
  view-timeline-name: --reveal;
  animation-timeline: --reveal;
  animation-range: 10% cover 20%;
  animation-fill-mode: both;
}

.filter {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  background-color: #fcfcfccc;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
  border: 3px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777777;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
  background: #f5f5f5;
}

@media (max-width: 320px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: var(--p-font-size-m);
  }

  p,
  li,
  a {
    font-size: var(--p-font-size-s);
  }
}

/*TOAST*/
@media (max-width: 400px) {
  .Toastify__toast {
    width: 90%;
  }
}

.Toastify__toast {
  border-radius: 8px; /* Bordes redondeados */
}
