.partner__content {
  padding: 50px;
}

.partner__content-title {
  margin: 40px 0 20px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.partner__content-loader {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partner__container-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.partner__result-text {
  margin-top: 20px;
}

.partner__container-card > h2 {
  text-align: center;
  margin: 20px 0;
}

.partner__container-card > i {
  width: 100%;
}

.partner__container-card > p {
  margin-bottom: 30px;
}

.partner__container-card > div {
  margin-bottom: 30px;
}

.partner__content-filter {
  margin-top: 0px;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.partner__content-filter > input {
  padding: 10px;
  border: none;
  background-color: var(--p-bg-secondary);
  border-radius: 10px;
}

.partner__content-filter > div > button {
  font-size: 14px;
}

.partner__content-card {
  width: 100%;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding: 10px 0;
}

.partner__title-ten-limit {
  margin-top:50px !important;
  text-align: start !important;
}

@media (max-width: 662px) {
  .partner__content {
    padding: 50px 20px 40px 20px;
  }
}

@media (max-width: 400px) {
  .partner__content-filter {
    min-width: 100%;
  }
}
