.legal-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.legal-container > h1 {
  text-align: center;
}

.legal-container > div > h2,
.legal-container > div > div > h3 {
  font-size: 18px;
}

.legal-container > div > p,
.legal-container > div > div > p {
  white-space: pre-wrap;
}

@media (max-width: 662px) {
  .legal-container {
    padding: 50px 20px 40px 20px;
  }
}
