.header__container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid black;
  z-index: 20;
}

.header__content-action {
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.header__link-active {
  text-decoration: line-through;
}

.header__content-logo > button {
  font-size: var(--p-font-size-xl);
  font-weight: 800;
}

.header__content-navbar {
  width: 100%;
}

.header__content-navbar > ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 10px;
}

.header__content-navbar > ul > li {
  cursor: pointer;
}

.header__content-navbar > ul > li > a,
.header__content-navbar > ul > li {
  display: flex;
  gap: 5px;
  text-transform: capitalize;
  flex-direction: column;
  align-items: center;
}

.header__links > a {
  font-weight: 300;
  color: var(--p-text-primary);
}

.header__content-nav-mobile {
  display: none;
}

.header__menu-icon {
  display: none;
}

.rotate-active {
  transform: rotate(90deg);
}

.rotate-inactive {
  transform: rotate(0deg);
}

.menu-active {
  transform: translateX(0px);
  transition: all 0.5s ease-out;
}

.menu-inactive {
  transform: translateX(-510px);
  transition: all 0.5s ease-out;
}

.header__close-sesion {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 509px) {
  .header__content-navbar {
    display: none;
  }

  .header__content-nav-mobile {
    display: flex;
  }

  .header__menu-icon > img {
    pointer-events: all !important;
  }

  .header__menu-icon {
    display: flex;
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 10;
    transition: all 0.2s ease;
  }

  .header__content-nav-mobile > ul {
    position: absolute;
    width: 100%;
    height: 100svh;
    background-color: var(--p-bg-primary);
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 30px 20px;
    align-items: center;
    transition: all 0.2s ease-in-out;
    left: 0;
    top:81px;
  }

  .header__content-nav-mobile > ul > li {
    width: 100%;
    height: auto;
    padding: 10px 0;
  }

  .header__content-nav-mobile > ul > li > a,
  .header__content-nav-mobile > ul > li {
    display: flex;
    gap: 5px;
    text-transform: capitalize;
    align-items: center;
  }
}
