.sold__content {
  padding: 50px;
}

.sold__container-cards {
  display: flex;
  flex-wrap: wrap;
  gap:20px; 
}


@media (max-width: 662px) {
  .sold__content {
    padding: 50px 20px 40px 20px;
  }
}