.card__container {
  min-width:300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--p-bg-quaternary);
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__content-title {
  display: flex;
  gap:20px;
  align-items: center;
}

.card__content-location {
  display: flex;
  gap:5px;
  align-items: center;
}

.card__content-location > span {
  background-color: var(--p-bg-black);
  color:var(--p-text-tertiary);
  padding: 0 5px;
  border-radius: 5px;
}

.card__content-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
}

@media (max-width: 636px) {
  .card__container {
    min-width: 100%;
  }
}
