.home__content {
  padding: 50px 180px;
}

.home__content-title {
  margin: 40px 0;
  text-align: center;
}

.home__container-card {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.home__section {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  margin: 80px 0;
}

.home__use {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.home__use>div {
  width: 50%;
}

.home__use>div>article {
  margin-bottom: 10px;
}

.home__list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home__use>div>article>div {
  margin-bottom: 10px;
}

.home__section h2 {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
}

.home__section img {
  display: block;
  /* margin: 20px auto; */
  max-width: 100%;
  height: auto;
}

.home__use>div:last-child {
  display: flex;
  justify-content: flex-end;
}

.home__use:nth-child(2)>div:last-child,
.home__use:nth-child(4)>div:last-child {
  justify-content: flex-start;
}

.home__section ol {
  padding: 10px;
}

.home__section ol li {
  margin-bottom: 10px;
}

.home__benefits {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home__bussiness-type {
  margin: 20px 0;
}

.home__bussiness-type>div>h3 {
  margin: 20px 0px;
  text-decoration: underline;
  font-size: 16px;
}

.home__benefits ul {
  list-style: disc;
  margin-left: 20px;
}

.home__benefits ul li {
  margin-bottom: 8px;
}

.photo-gallery__container {
  margin-top: 10rem;
}

.photo-gallery__container h4 {
  text-align: center;
  margin-bottom: 20px;
}

.feedback__container {
  margin-top: 10rem;
}

.btn-actions {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 1rem;
}

.float-ws-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .home__content {
    padding: 50px 30px;
  }

  .home__use>div:last-child {
    justify-content: center
  }

  .home__use:nth-child(2)>div:last-child,
  .home__use:nth-child(4)>div:last-child {
    justify-content: center;
  }

  .home__use {
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 50px;
  }

  .home__use>div {
    width: 100%;
  }

}



@media (min-width: 900px) {

  .home__use:nth-child(2),
  .home__use:nth-child(4) {
    flex-direction: row-reverse;
  }


}

/* @media (max-width: 662px) {
  .home__content {
    padding: 50px 20px 40px 20px;
  }

  .home__use>div:last-child {
  justify-content: center
}

.home__use:nth-child(2)>div:last-child,
.home__use:nth-child(4)>div:last-child {
  justify-content: center;
}

  .home__use {
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 50px;
  }

  .home__use>div {
    width: 100%;
  }
} */